Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

.pre-commit-config.yaml:

# Copyright (c) Facebook, Inc. and its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information

# General excludes, files can also be excluded on a hook level
exclude: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        description: Format CMake files.
        entry: cmake-format
        language: python
        files: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$
        args: [--in-place]
        require_serial: false
        additional_dependencies: [cmake-format==0.6.13, pyyaml]

      - id: clang-tidy
        name: clang-tidy
        description: Run clang-tidy on C/C++ files
        stages:
          - manual # Needs compile_commands.json
        entry: clang-tidy
        language: python
        types_or: [c++, c]
        additional_dependencies: [clang-tidy==18.1.8]
        require_serial: true

      - id: license-header
        name: license-header
        description: Add missing license headers.
        entry: ./scripts/checks/license-header.py
        args: [-i]
        language: python
        additional_dependencies: [regex]
        require_serial: true
        exclude: |
          (?x)^(
          CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
          velox/docs/affiliations_map.txt|
          velox/.*/bitpacking\.(cpp|h)|
          velox/.*/Lemire/.*|
          velox/.*/gpu/CudaMemMeter.cu|
          velox/.*/coverage/data/.*|
          velox/tpch/gen/dbgen/.*|
          NOTICE.txt
          )$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        # types_or: [c++, c, cuda, metal, objective-c]
        files: \.(cpp|cc|c|h|hpp|inc|cu|cuh|clcpp|mm|metal)$

  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # The following checks mostly target GitHub Actions workflows.
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.7.0
    hooks:
      - id: zizmor

  - repo: https://github.com/mpalmer/action-validator
    rev: 2f8be1d2066eb3687496a156d00b4f1b3ea7b028
    hooks:
      - id: action-validator

Fix re2 usage
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/Re2Functions.h
Due: license-header

make absl flags compatible
  velox/common/memory/Memory.cpp
  velox/expression/Expr.cpp
Due: license-header

More accurate re2 usage
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/Re2Functions.h
Due: license-header

Fixes
  CMake/ResolveDependency.cmake
  CMakeLists.txt
Due: cmake-format, license-header

WIP
  CMakeLists.txt
  velox/common/process/StackTrace.cpp
  velox/functions/lib/aggregates/DecimalAggregate.h
  velox/vector/ConstantVector.h
  velox/vector/FlatVector.h
Due: cmake-format, license-header

Fix implicit cast
  velox/functions/prestosql/ArithmeticImpl.h
Due: license-header

IWYU
  velox/common/file/File.h
  velox/exec/Task.h
Due: license-header

Remove part of velox CI
  .github/dependabot.yml
  .github/stale.yml
Due: license-header

Try to fix tzdb from experimental
  velox/external/tzdb/tzdb_list_private.h
Due: none

memcmp should work with pointers not iterators
  velox/functions/prestosql/types/IPAddressType.h
Due: license-header

generic was renamed to common
  velox/common/base/SimdUtil-inl.h
  velox/dwio/common/ColumnVisitors.h
Due: license-header

Fix iterator/data usage
  velox/serializers/PrestoSerializerSerializationUtils.h
  velox/serializers/PrestoVectorLexer.cpp
  velox/serializers/PrestoVectorLexer.h
Due: license-header

Fix gflags usage
  velox/common/memory/Memory.cpp
Due: license-header

Disable folly::crc32 for now
  velox/functions/prestosql/registration/BinaryFunctionsRegistration.cpp
  velox/functions/sparksql/registration/RegisterBinary.cpp
Due: license-header

Make fmt usage std compatible
  velox/common/memory/MemoryArbitrator.h
  velox/expression/CastHooks.cpp
  velox/expression/CastHooks.h
  velox/functions/prestosql/DecimalFunctions.cpp
  velox/functions/sparksql/DecimalArithmetic.cpp
Due: license-header

Use absl::crc32c
  velox/common/base/Crc.h
  velox/exec/OperatorTraceReader.cpp
  velox/exec/OperatorTraceWriter.cpp
Due: license-header

Fix fmt
  velox/functions/sparksql/DecimalCeil.cpp
Due: license-header

Remove useless simd
  velox/common/base/SimdUtil.h
  velox/vector/BiasVector-inl.h
  velox/vector/BiasVector.h
  velox/vector/ConstantVector.h
  velox/vector/DictionaryVector-inl.h
  velox/vector/DictionaryVector.h
  velox/vector/FlatVector-inl.h
  velox/vector/FlatVector.h
  velox/vector/SequenceVector-inl.h
  velox/vector/SequenceVector.h
Due: license-header

Fix bool simd
  velox/common/base/SimdUtil.h
  velox/vector/ConstantVector.h
  velox/vector/FlatVector-inl.h
  velox/vector/FlatVector.h
Due: license-header

WIP
  CMakeLists.txt
  velox/common/caching/AsyncDataCache.cpp
  velox/common/caching/SsdCache.h
  velox/common/caching/SsdFile.h
  velox/common/file/tests/FaultyFile.h
  velox/common/process/StackTrace.cpp
  velox/connectors/hive/storage_adapters/s3fs/S3Util.h
  velox/exec/OperatorTraceReader.cpp
  velox/exec/prefixsort/PrefixSortEncoder.h
  velox/expression/CastHooks.cpp
  velox/functions/prestosql/types/CMakeLists.txt
  velox/type/parser/Scanner.h
Due: cmake-format, license-header

Change includes and install
  CMake/VeloxUtils.cmake
  CMakeLists.txt
Due: cmake-format, license-header

Fix strange cmake
  CMakeLists.txt
  velox/common/CMakeLists.txt
  velox/functions/prestosql/types/CMakeLists.txt
Due: cmake-format, license-header

Fix missing include
  velox/functions/UDFOutputString.h
Due: license-header

Fix coercions for us
  velox/type/TypeCoercer.cpp
Due: license-header

Rollback crc32 wrong changes
  velox/common/base/Crc.h
  velox/exec/OperatorTraceReader.cpp
  velox/exec/OperatorTraceWriter.cpp
  velox/functions/prestosql/registration/BinaryFunctionsRegistration.cpp
  velox/functions/sparksql/registration/RegisterBinary.cpp
Due: license-header

Fix build
  CMake/VeloxUtils.cmake
Due: cmake-format, license-header

Avoid fuzzer (test only) utils in the library
  velox/functions/prestosql/types/BingTileRegistration.cpp
  velox/functions/prestosql/types/HyperLogLogRegistration.cpp
  velox/functions/prestosql/types/IPAddressRegistration.cpp
  velox/functions/prestosql/types/IPPrefixRegistration.cpp
  velox/functions/prestosql/types/JsonRegistration.cpp
  velox/functions/prestosql/types/QDigestRegistration.cpp
  velox/functions/prestosql/types/SfmSketchRegistration.cpp
  velox/functions/prestosql/types/TDigestRegistration.cpp
  velox/functions/prestosql/types/TimestampWithTimeZoneRegistration.cpp
Due: license-header

Enable back filesystem thread pool
  velox/common/file/FileSystems.cpp
Due: license-header

Replace xsimd::generic with xsimd::common
  velox/common/base/SimdUtil-inl.h
Due: license-header

feat: Velox Scalar Function Unknown Support (#14573)
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Due: license-header

prefix get_rpath_origin with velox_
  CMake/VeloxUtils.cmake
  velox/python/CMakeLists.txt
Due: cmake-format, license-header

replace cmake-format with gersemi
  .cmake-format.yaml
  .gersemirc
  .pre-commit-config.yaml
  scripts/ci/gersemi_cmd_definitions.py
  scripts/setup-macos.sh
Due: license-header

Apply suggestions from code review
  .gersemirc
  CMake/resolve_dependency_modules/faiss.cmake
  CMake/resolve_dependency_modules/geos.cmake
  CMake/resolve_dependency_modules/glog.cmake
  CMake/resolve_dependency_modules/template.cmake
  scripts/ci/gersemi_cmd_definitions.py
Due: cmake-format, license-header

Fix lint
  python/test/test_runner.py
  velox/python/plan_builder/plan_builder.pyi
Due: license-header

Update step name and id
  .github/workflows/scheduled.yml
Due: license-header

feat: Add LocalRunnerService and VeloxLocalQueryRunner for serialized query plan fuzzing (#14390)
  velox/exec/fuzzer/VeloxLocalQueryRunner.cpp
  velox/exec/fuzzer/VeloxLocalQueryRunner.h
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/runner/if/LocalRunnerService.thrift
  velox/runner/tests/LocalRunnerService.cpp
  velox/runner/tests/LocalRunnerServiceTest.cpp
Due: license-header

feat: Add nonDecimalNumericTypeOnly constraint to type parameters
  velox/exec/tests/FunctionSignatureBuilderTest.cpp
  velox/expression/FunctionSignature.cpp
  velox/expression/FunctionSignature.h
  velox/expression/SignatureBinder.cpp
  velox/expression/fuzzer/ArgumentTypeFuzzer.cpp
  velox/expression/fuzzer/ArgumentTypeFuzzer.h
  velox/expression/tests/SignatureBinderTest.cpp
  velox/functions/prestosql/aggregates/MapUnionSumAggregate.cpp
Due: license-header

Set more variables explicitly
  CMake/resolve_dependency_modules/thrift.cmake
Due: cmake-format, license-header

Update the default Apache Thrift version
  scripts/setup-versions.sh
Due: license-header
