Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

.pre-commit-config.yaml:

# Copyright (c) Facebook, Inc. and its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information

# General excludes, files can also be excluded on a hook level
exclude: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        description: Format CMake files.
        entry: cmake-format
        language: python
        files: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$
        args: [--in-place]
        require_serial: false
        additional_dependencies: [cmake-format==0.6.13, pyyaml]

      - id: clang-tidy
        name: clang-tidy
        description: Run clang-tidy on C/C++ files
        stages:
          - manual # Needs compile_commands.json
        entry: clang-tidy
        language: python
        types_or: [c++, c]
        additional_dependencies: [clang-tidy==18.1.8]
        require_serial: true

      - id: license-header
        name: license-header
        description: Add missing license headers.
        entry: ./scripts/checks/license-header.py
        args: [-i]
        language: python
        additional_dependencies: [regex]
        require_serial: true
        exclude: |
          (?x)^(
          CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
          velox/docs/affiliations_map.txt|
          velox/.*/bitpacking\.(cpp|h)|
          velox/.*/Lemire/.*|
          velox/.*/gpu/CudaMemMeter.cu|
          velox/.*/coverage/data/.*|
          velox/tpch/gen/dbgen/.*|
          NOTICE.txt
          )$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        # types_or: [c++, c, cuda, metal, objective-c]
        files: \.(cpp|cc|c|h|hpp|inc|cu|cuh|clcpp|mm|metal)$

  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # The following checks mostly target GitHub Actions workflows.
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.7.0
    hooks:
      - id: zizmor

  - repo: https://github.com/mpalmer/action-validator
    rev: 2f8be1d2066eb3687496a156d00b4f1b3ea7b028
    hooks:
      - id: action-validator

Revert "fix build"
  velox/experimental/cudf/connectors/parquet/ParquetDataSink.cpp
Due: license-header

waiting until finish.
  velox/dwio/common/DirectBufferedInput.h
Due: license-header

Fix Spark timestamp_seconds function
  velox/functions/sparksql/DateTimeFunctions.h
Due: license-header

Large renaming of all Parquet* entities to CudfHive*
  velox/experimental/cudf/connectors/CMakeLists.txt
  velox/experimental/cudf/connectors/hive/CMakeLists.txt
  velox/experimental/cudf/connectors/hive/CudfHiveConfig.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveConfig.h
  velox/experimental/cudf/connectors/hive/CudfHiveConnector.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveConnector.h
  velox/experimental/cudf/connectors/hive/CudfHiveConnectorSplit.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveConnectorSplit.h
  velox/experimental/cudf/connectors/hive/CudfHiveDataSink.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveDataSink.h
  velox/experimental/cudf/connectors/hive/CudfHiveDataSource.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveDataSource.h
  velox/experimental/cudf/connectors/hive/CudfHiveTableHandle.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveTableHandle.h
  velox/experimental/cudf/connectors/hive/WriterOptions.h
  velox/experimental/cudf/connectors/parquet/ParquetConnector.cpp
  velox/experimental/cudf/connectors/parquet/ParquetConnector.h
  velox/experimental/cudf/exec/ToCudf.cpp
  velox/experimental/cudf/tests/CMakeLists.txt
  velox/experimental/cudf/tests/TableScanTest.cpp
  velox/experimental/cudf/tests/TableWriteTest.cpp
  velox/experimental/cudf/tests/utils/CMakeLists.txt
  velox/experimental/cudf/tests/utils/CudfHiveConnectorTestBase.cpp
  velox/experimental/cudf/tests/utils/CudfHiveConnectorTestBase.h
  velox/experimental/cudf/tests/utils/CudfPlanBuilder.cpp
  velox/experimental/cudf/tests/utils/CudfPlanBuilder.h
Due: cmake-format, license-header

fix(dwio): Fix decompression in ZlibDecompressionStream readOrSkip
  velox/dwio/common/compression/Compression.cpp
  velox/dwio/text/reader/TextReader.cpp
Due: license-header

refactor: Remove unnecessary registerConnectorFactory calls (#14818)
  velox/connectors/hive/storage_adapters/test_common/InsertTest.h
  velox/connectors/tpcds/tests/TpcdsConnectorTest.cpp
  velox/connectors/tpch/tests/SpeedTest.cpp
  velox/exec/fuzzer/AggregationFuzzerBase.h
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/experimental/cudf/tests/utils/ParquetConnectorTestBase.cpp
  velox/expression/fuzzer/ExpressionFuzzerVerifier.cpp
  velox/expression/tests/ExpressionRunnerTest.cpp
  velox/functions/lib/aggregates/tests/utils/AggregationTestBase.cpp
  velox/tool/trace/tests/IndexLookupJoinReplayerTest.cpp
Due: license-header

Rename emptyUnnestValueName to markerName and fix semantics (#14814)
  velox/core/PlanNode.cpp
  velox/core/PlanNode.h
  velox/exec/TraceUtil.cpp
  velox/exec/Unnest.cpp
  velox/exec/Unnest.h
  velox/exec/tests/UnnestTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/tool/trace/UnnestReplayer.cpp
Due: license-header

Support scan filter for decimal in ORC
  velox/dwio/dwrf/reader/ReaderBase.cpp
  velox/dwio/dwrf/reader/SelectiveDecimalColumnReader.cpp
  velox/dwio/dwrf/reader/SelectiveDecimalColumnReader.h
  velox/dwio/dwrf/test/E2EFilterTest.cpp
  velox/dwio/dwrf/utils/ProtoUtils.cpp
  velox/dwio/dwrf/writer/ColumnWriter.cpp
  velox/dwio/dwrf/writer/Writer.cpp
Due: license-header

changes in doc and struct
  velox/docs/functions/spark/math.rst
Due: license-header

misc(dwrf): Bump default DWRF flat map key limit to 30k (#14810)
  velox/dwio/dwrf/common/Config.cpp
Due: license-header

feat: Implement geometry_union (#14297)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: license-header

feat: Implement ST_LineFromText, ST_LineString, ST_MultiPoint (#14705)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/GeometrySerde.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: license-header

feat: Implement geometry_to_dissolved_bing_tiles (#14251)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/geospatial/GeometryUtils.cpp
  velox/functions/prestosql/geospatial/GeometryUtils.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: license-header

Update documentation
  docs/_sources/functions/presto/geospatial.rst.txt
  docs/bindings/python/plan_builder.html
  docs/functions/presto/geospatial.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: license-header

fix merge, build issues
  velox/experimental/cudf/connectors/parquet/ParquetDataSink.cpp
  velox/experimental/cudf/tests/utils/ParquetConnectorTestBase.cpp
Due: license-header

fix: Add `ARRAY<ARRAY<VARCHAR>>` support to `array_frequency` (#14715)
  velox/functions/prestosql/ArrayFunctions.h
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ArrayFrequencyTest.cpp
Due: license-header

feat: Apply IndexLookupJoinBuilder to indexlookupjoin test (#14823)
  velox/exec/tests/IndexLookupJoinTest.cpp
  velox/exec/tests/utils/IndexLookupJoinTestBase.cpp
Due: license-header

rename velox_cudf_hive_connector
  velox/experimental/cudf/connectors/hive/CMakeLists.txt
  velox/experimental/cudf/exec/CMakeLists.txt
  velox/experimental/cudf/tests/CMakeLists.txt
  velox/experimental/cudf/tests/utils/CMakeLists.txt
Due: cmake-format, license-header

fix typo
  velox/experimental/cudf/connectors/hive/CMakeLists.txt
Due: cmake-format, license-header

Fix CudfHive renamingc
  velox/exec/tests/utils/CMakeLists.txt
  velox/experimental/cudf/benchmarks/CudfTpchBenchmark.cpp
  velox/experimental/cudf/connectors/hive/CMakeLists.txt
Due: cmake-format, license-header

remove debug flags
  velox/experimental/cudf/tests/CMakeLists.txt
Due: cmake-format, license-header

rename to velox_cudf_hive_config
  velox/experimental/cudf/connectors/hive/CMakeLists.txt
Due: cmake-format, license-header

refactor(buffer): Add verbose version of AlignedBuffer::allocate
  velox/buffer/Buffer.h
  velox/buffer/tests/BufferTest.cpp
Due: license-header

misc: Clean up AggregationFuzzer.cpp headers
  velox/exec/fuzzer/AggregationFuzzer.cpp
Due: license-header

misc: Drop dependency on format-specific readers and writers
  velox/exec/benchmarks/RowContainerSortBenchmark.cpp
Due: license-header

feat: Make WriterOptions serializable
  velox/dwio/common/Options.cpp
  velox/dwio/common/Options.h
Due: license-header

refactor: Introduce ConnectorNames.h in velox/connectors
  velox/connectors/ConnectorNames.h
  velox/exec/tests/VeloxIn10MinDemo.cpp
Due: license-header

refactor: Move PartitionFunctionSpecs out of PlanNode.h
  velox/core/PartitionFunction.h
  velox/core/PlanNode.h
  velox/exec/tests/utils/PlanBuilder.cpp
Due: license-header

refactor: Introduce ConnectorObjectFactory and HiveObjectFactory
  velox/connectors/Connector.cpp
  velox/connectors/Connector.h
  velox/connectors/fuzzer/FuzzerConnector.h
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/HiveConnector.h
  velox/connectors/hive/HiveConnectorSplit.h
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSink.h
  velox/connectors/hive/tests/CMakeLists.txt
  velox/connectors/hive/tests/HiveObjectFactoryTest.cpp
  velox/connectors/tpcds/TpcdsConnector.h
  velox/connectors/tpch/TpchConnector.h
  velox/core/PlanNode.h
Due: cmake-format, license-header

build: Make ConnectorFactory registration connector agnostic
  velox/connectors/CMakeLists.txt
  velox/connectors/RegisterConnectorFactories.cpp
  velox/connectors/RegisterConnectorFactories.h
  velox/connectors/fuzzer/FuzzerConnector.cpp
  velox/connectors/fuzzer/FuzzerConnector.h
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/HiveConnector.h
  velox/connectors/tpcds/TpcdsConnector.cpp
  velox/connectors/tpcds/TpcdsConnector.h
  velox/connectors/tpch/TpchConnector.cpp
  velox/connectors/tpch/TpchConnector.h
Due: cmake-format, license-header

refactor: Make PlanBuilder connector agnostic: Drop Hive dependency
  velox/connectors/hive/storage_adapters/gcs/tests/GcsMultipleEndpointsTest.cpp
  velox/connectors/hive/storage_adapters/s3fs/tests/S3MultipleEndpointsTest.cpp
  velox/exec/fuzzer/WriterFuzzer.cpp
  velox/exec/tests/PlanBuilderTest.cpp
  velox/exec/tests/TableEvolutionFuzzer.cpp
  velox/exec/tests/TableWriterTest.cpp
  velox/exec/tests/utils/CMakeLists.txt
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/exec/tests/utils/TableWriterTestBase.cpp
  velox/tool/trace/TableWriterReplayer.cpp
Due: cmake-format, license-header

feat: Add fuzzzer generator for fb_dedup_normalize_text (#14824)
  velox/expression/fuzzer/ArgValuesGenerators.cpp
  velox/expression/fuzzer/ArgValuesGenerators.h
Due: license-header

Add tests
  velox/connectors/hive/storage_adapters/hdfs/HdfsWriteFile.cpp
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
Due: license-header

fix: Reset hdfsFile_ before check success status
  velox/connectors/hive/storage_adapters/hdfs/HdfsWriteFile.cpp
Due: license-header

build: Use the official Snappy CMake package
  CMake/FindSnappy.cmake
Due: cmake-format

Add counter for nimble and dwrf writer (#14827)
  velox/dwio/dwrf/writer/Writer.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.cpp
Due: license-header

refactor: Remove unnecessary dependencies from velox_cursor lib (#14828)
  velox/exec/CMakeLists.txt
Due: cmake-format, license-header

Parquet connector refactor (#67)
  velox/experimental/cudf/connectors/CMakeLists.txt
  velox/experimental/cudf/connectors/hive/CMakeLists.txt
  velox/experimental/cudf/connectors/hive/CudfHiveConfig.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveConfig.h
  velox/experimental/cudf/connectors/hive/CudfHiveConnector.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveConnector.h
  velox/experimental/cudf/connectors/hive/CudfHiveConnectorSplit.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveConnectorSplit.h
  velox/experimental/cudf/connectors/hive/CudfHiveDataSink.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveDataSink.h
  velox/experimental/cudf/connectors/hive/CudfHiveDataSource.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveDataSource.h
  velox/experimental/cudf/connectors/hive/CudfHiveTableHandle.cpp
  velox/experimental/cudf/connectors/hive/CudfHiveTableHandle.h
  velox/experimental/cudf/connectors/hive/WriterOptions.h
  velox/experimental/cudf/connectors/parquet/ParquetConnector.cpp
  velox/experimental/cudf/exec/CMakeLists.txt
  velox/experimental/cudf/exec/ToCudf.cpp
  velox/experimental/cudf/exec/ToCudf.h
  velox/experimental/cudf/tests/CMakeLists.txt
  velox/experimental/cudf/tests/TableScanTest.cpp
  velox/experimental/cudf/tests/TableWriteTest.cpp
  velox/experimental/cudf/tests/utils/CMakeLists.txt
  velox/experimental/cudf/tests/utils/CudfHiveConnectorTestBase.cpp
  velox/experimental/cudf/tests/utils/CudfHiveConnectorTestBase.h
  velox/experimental/cudf/tests/utils/CudfPlanBuilder.cpp
  velox/experimental/cudf/tests/utils/CudfPlanBuilder.h
Due: cmake-format, license-header
