Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

.pre-commit-config.yaml:

# Copyright (c) Facebook, Inc. and its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information

# General excludes, files can also be excluded on a hook level
exclude: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        description: Format CMake files.
        entry: cmake-format
        language: python
        files: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$
        args: [--in-place]
        require_serial: false
        additional_dependencies: [cmake-format==0.6.13, pyyaml]

      - id: clang-tidy
        name: clang-tidy
        description: Run clang-tidy on C/C++ files
        stages:
          - manual # Needs compile_commands.json
        entry: clang-tidy
        language: python
        types_or: [c++, c]
        additional_dependencies: [clang-tidy==18.1.8]
        require_serial: true

      - id: license-header
        name: license-header
        description: Add missing license headers.
        entry: ./scripts/checks/license-header.py
        args: [-i]
        language: python
        additional_dependencies: [regex]
        require_serial: true
        exclude: |
          (?x)^(
          CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
          velox/docs/affiliations_map.txt|
          velox/.*/bitpacking\.(cpp|h)|
          velox/.*/Lemire/.*|
          velox/.*/gpu/CudaMemMeter.cu|
          velox/.*/coverage/data/.*|
          velox/tpch/gen/dbgen/.*|
          NOTICE.txt
          )$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        # types_or: [c++, c, cuda, metal, objective-c]
        files: \.(cpp|cc|c|h|hpp|inc|cu|cuh|clcpp|mm|metal)$

  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # The following checks mostly target GitHub Actions workflows.
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.7.0
    hooks:
      - id: zizmor

  - repo: https://github.com/mpalmer/action-validator
    rev: 2f8be1d2066eb3687496a156d00b4f1b3ea7b028
    hooks:
      - id: action-validator

Fix unloaded lazy vector
  velox/dwio/parquet/tests/reader/ParquetTableScanTest.cpp
  velox/exec/FilterProject.cpp
Due: license-header

refactor: Reduce allocations (#14169)
  velox/exec/LocalPlanner.cpp
  velox/exec/tests/utils/HashJoinTestBase.h
  velox/exec/tests/utils/HiveConnectorTestBase.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.h
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/parse/QueryPlanner.cpp
Due: license-header

expression fixes for presto
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/exec/VeloxCudfInterop.cpp
  velox/experimental/cudf/tests/FilterProjectTest.cpp
Due: license-header

handle properly when subStr only gets a single parameter
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/tests/FilterProjectTest.cpp
Due: license-header

remove old test that are now broken out to their own
  velox/experimental/cudf/tests/FilterProjectTest.cpp
Due: license-header

disable DISABLED_cardinalityAndSplitFused testing for now
  velox/experimental/cudf/tests/FilterProjectTest.cpp
Due: license-header

implement lower()
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
Due: license-header

remove cpr dependency
  CMake/resolve_dependency_modules/README.md
  CMake/resolve_dependency_modules/cpr.cmake
  CMake/resolve_dependency_modules/cpr/cpr-libcurl-compatible.patch
  CMake/resolve_dependency_modules/cpr/cpr-remove-sancheck.patch
  CMakeLists.txt
  velox/exec/fuzzer/CMakeLists.txt
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/exec/tests/CMakeLists.txt
  velox/exec/tests/CprHttpClientTest.cpp
Due: cmake-format, license-header

fix gmock
  CMake/resolve_dependency_modules/faiss.cmake
  CMake/resolve_dependency_modules/gtest.cmake
Due: cmake-format, license-header

fix curl
  CMakeLists.txt
Due: cmake-format, license-header

Revert yscope fork specific changes
  .coderabbit.yaml
  .dockerignore
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-title-checks.yaml
  CMake/ExternalAntlr4Cpp.cmake
  CMake/FindANTLR.cmake
  velox/functions/prestosql/aggregates/sfm/CMakeLists.txt
Due: cmake-format, license-header

refactor: Move toValues from InPredicate.cpp to Filter.h
  velox/functions/prestosql/InPredicate.cpp
  velox/type/Filter.h
Due: license-header

feat(connector): Support reading Iceberg split with equality deletes
  velox/connectors/hive/HiveDataSource.cpp
  velox/connectors/hive/HiveDataSource.h
  velox/connectors/hive/SplitReader.cpp
  velox/connectors/hive/SplitReader.h
  velox/connectors/hive/iceberg/CMakeLists.txt
  velox/connectors/hive/iceberg/EqualityDeleteFileReader.cpp
  velox/connectors/hive/iceberg/EqualityDeleteFileReader.h
  velox/connectors/hive/iceberg/FilterUtil.cpp
  velox/connectors/hive/iceberg/FilterUtil.h
  velox/connectors/hive/iceberg/IcebergDeleteFile.cpp
  velox/connectors/hive/iceberg/IcebergDeleteFile.h
  velox/connectors/hive/iceberg/IcebergSplitReader.cpp
  velox/connectors/hive/iceberg/IcebergSplitReader.h
  velox/connectors/hive/iceberg/tests/IcebergReadTest.cpp
  velox/connectors/hive/iceberg/tests/IcebergSplitReaderBenchmark.cpp
  velox/dwio/common/Reader.h
  velox/dwio/common/ScanSpec.cpp
  velox/dwio/common/ScanSpec.h
  velox/dwio/common/TypeWithId.cpp
  velox/dwio/common/TypeWithId.h
  velox/dwio/dwrf/reader/DwrfReader.h
  velox/dwio/dwrf/reader/ReaderBase.h
  velox/type/Filter.cpp
  velox/type/Filter.h
Due: cmake-format, license-header

address review comments
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/tests/FilterProjectTest.cpp
Due: license-header

Fix decimal multiply
  velox/functions/sparksql/DecimalArithmetic.cpp
  velox/functions/sparksql/tests/DecimalArithmeticTest.cpp
Due: license-header

fix: Avoid deadlock when drop child fails
  velox/common/memory/MemoryPool.cpp
Due: license-header

Update documentation
  docs/_sources/functions/presto/binary.rst.txt
  docs/bindings/python/plan_builder.html
  docs/functions.html
  docs/functions/presto/binary.html
  docs/functions/presto/coverage.html
  docs/functions/presto/most_used_coverage.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Due: license-header

Fix
  CMake/resolve_dependency_modules/ystdlib_cpp.cmake
  CMakeLists.txt
  velox/connectors/clp/ClpConnector.cpp
  velox/connectors/clp/ClpConnector.h
  velox/connectors/clp/ClpDataSource.cpp
  velox/connectors/clp/ClpDataSource.h
Due: cmake-format, license-header

feat(build): Switch to use C++20 standard
  CMakeLists.txt
  README.md
  velox/common/base/CMakeLists.txt
  velox/common/base/Semaphore.h
  velox/common/base/tests/ExceptionTest.cpp
  velox/common/base/tests/Memcpy.cpp
  velox/common/caching/tests/CMakeLists.txt
  velox/common/encode/tests/CMakeLists.txt
  velox/common/fuzzer/ConstrainedGenerators.h
  velox/connectors/hive/HiveConnectorSplit.h
  velox/duckdb/conversion/tests/CMakeLists.txt
  velox/dwio/common/SelectiveColumnReader.h
  velox/dwio/parquet/tests/writer/CMakeLists.txt
  velox/exec/tests/MergeJoinTest.cpp
  velox/expression/tests/ExprEncodingsTest.cpp
  velox/expression/tests/ExprTest.cpp
  velox/functions/lib/CMakeLists.txt
  velox/functions/prestosql/aggregates/CMakeLists.txt
  velox/row/tests/CMakeLists.txt
  velox/tool/trace/OperatorReplayerBase.cpp
  velox/vector/tests/CMakeLists.txt
  velox/vector/tests/utils/VectorMaker.h
  velox/vector/tests/utils/VectorTestBase.h
Due: cmake-format, license-header

fix: Make Geometry type non-orderable (#14197)
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
  velox/functions/prestosql/types/GeometryType.h
  velox/functions/prestosql/types/tests/GeometryTypeTest.cpp
Due: license-header

feat: Add mia_multiplier_agg function (#14201)
  velox/functions/prestosql/aggregates/delete.cpp
  velox/functions/prestosql/aggregates/deletye.h
  velox/functions/prestosql/aggregates/tests/delete.cpp
Due: license-header

Update documentation
  docs/bindings/python/plan_builder.html
  docs/searchindex.js
Due: license-header

feat: Add sfmSketch scalar functions (#14152)
  velox/docs/functions/presto/aggregate.rst
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/exec/fuzzer/PrestoQueryRunnerIntermediateTypeTransforms.cpp
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/SfmSketchFunctions.cpp
  velox/functions/prestosql/SfmSketchFunctions.h
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/registration/RegistrationFunctions.h
  velox/functions/prestosql/registration/SfmSketchFunctionsRegistration.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/prestosql/tests/HyperLogLogFunctionsTest.cpp
  velox/functions/prestosql/tests/SfmSketchFunctionsTest.cpp
  velox/functions/prestosql/types/fuzzer_utils/CMakeLists.txt
  velox/functions/prestosql/types/fuzzer_utils/SfmSketchInputGenerator.h
  velox/functions/prestosql/types/fuzzer_utils/tests/CMakeLists.txt
Due: cmake-format, license-header

fix: ConstantTypedExpr::equals null behavior (#14191)
  velox/core/Expressions.cpp
  velox/expression/tests/ExprTest.cpp
Due: license-header

fix curl
  CMake/resolve_dependency_modules/curl.cmake
Due: cmake-format, license-header

feat(fuzzer): Add custom input generation for URL functions (#13177)
  velox/common/fuzzer/ConstrainedGenerators.cpp
  velox/common/fuzzer/ConstrainedGenerators.h
  velox/expression/fuzzer/ArgValuesGenerators.cpp
  velox/expression/fuzzer/ArgValuesGenerators.h
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
Due: license-header

fix: TableScan metrics collection type
  velox/exec/TableScan.cpp
Due: license-header

add AzureClientProvider
  velox/connectors/hive/storage_adapters/abfs/AbfsConfig.cpp
  velox/connectors/hive/storage_adapters/abfs/AbfsConfig.h
  velox/connectors/hive/storage_adapters/abfs/AbfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/abfs/AbfsWriteFile.cpp
  velox/connectors/hive/storage_adapters/abfs/AzureBlobClient.h
  velox/connectors/hive/storage_adapters/abfs/AzureClientProviders.cpp
  velox/connectors/hive/storage_adapters/abfs/AzureClientProviders.h
  velox/connectors/hive/storage_adapters/abfs/AzureDataLakeFileClient.h
  velox/connectors/hive/storage_adapters/abfs/CMakeLists.txt
  velox/connectors/hive/storage_adapters/abfs/tests/MockDataLakeFileClient.h
Due: cmake-format, license-header

add cmake linter hook
  .pre-commit-config.yaml
Due: license-header

refactor
  velox/connectors/hive/storage_adapters/abfs/AbfsConfig.cpp
  velox/connectors/hive/storage_adapters/abfs/AbfsConfig.h
  velox/connectors/hive/storage_adapters/abfs/AbfsFileSystem.cpp
  velox/connectors/hive/storage_adapters/abfs/AbfsWriteFile.cpp
  velox/connectors/hive/storage_adapters/abfs/AzureBlobClient.h
  velox/connectors/hive/storage_adapters/abfs/AzureClientProviderFactories.cpp
  velox/connectors/hive/storage_adapters/abfs/AzureClientProviderFactories.h
  velox/connectors/hive/storage_adapters/abfs/AzureClientProviders.cpp
  velox/connectors/hive/storage_adapters/abfs/CMakeLists.txt
  velox/connectors/hive/storage_adapters/abfs/DefaultAzureClientProvider.cpp
  velox/connectors/hive/storage_adapters/abfs/DefaultAzureClientProvider.h
  velox/connectors/hive/storage_adapters/abfs/DynamicSasTokenClientProvider.cpp
  velox/connectors/hive/storage_adapters/abfs/DynamicSasTokenClientProvider.h
  velox/connectors/hive/storage_adapters/abfs/tests/AbfsFileSystemTest.cpp
  velox/connectors/hive/storage_adapters/abfs/tests/AbfsUtilTest.cpp
  velox/connectors/hive/storage_adapters/abfs/tests/AzuriteServer.cpp
  velox/connectors/hive/storage_adapters/abfs/tests/CMakeLists.txt
  velox/connectors/hive/storage_adapters/abfs/tests/DefaultAzureClientProviderTest.cpp
  velox/connectors/hive/storage_adapters/abfs/tests/DynamicSasTokenClientProviderTest.cpp
  velox/docs/configs.rst
Due: cmake-format, license-header

feat: Add noisy_approx_set_sfm_from_index_and_zeros function (#14153)
  velox/docs/functions/presto/aggregate.rst
  velox/functions/prestosql/aggregates/AggregateNames.h
  velox/functions/prestosql/aggregates/NoisyApproxSfmAggregate.cpp
  velox/functions/prestosql/aggregates/SfmSketchAggregate.h
  velox/functions/prestosql/aggregates/sfm/SfmSketchAccumulator.cpp
  velox/functions/prestosql/aggregates/sfm/SfmSketchAccumulator.h
  velox/functions/prestosql/aggregates/tests/NoisyApproxSfmAggregationTest.cpp
  velox/functions/prestosql/fuzzer/AggregationFuzzerTest.cpp
  velox/functions/prestosql/fuzzer/WindowFuzzerTest.cpp
Due: license-header

feat(expression): Add ExprOptimizer for expression optimization
  .github/workflows/scheduled.yml
  velox/connectors/tpch/CMakeLists.txt
  velox/expression/CMakeLists.txt
  velox/expression/Expr.cpp
  velox/expression/ExprCompiler.cpp
  velox/expression/ExprOptimizer.cpp
  velox/expression/ExprOptimizer.h
  velox/expression/ExprRewriter.cpp
  velox/expression/ExprRewriter.h
  velox/expression/ExprUtils.cpp
  velox/expression/ExprUtils.h
  velox/expression/RegisterSpecialForm.cpp
  velox/expression/VectorFunction.cpp
  velox/expression/VectorFunction.h
  velox/expression/fuzzer/ExpressionFuzzer.h
  velox/expression/fuzzer/ExpressionFuzzerVerifier.cpp
  velox/expression/fuzzer/FuzzerRunner.cpp
  velox/expression/tests/CMakeLists.txt
  velox/expression/tests/ExprOptimizerTest.cpp
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/registration/StringFunctionsRegistration.cpp
Due: cmake-format, license-header

fix variable instead of target issues
  CMake/resolve_dependency_modules/boost/CMakeLists.txt
  CMake/resolve_dependency_modules/icu.cmake
  scripts/ci/cmake-rules/variable-instead-of-targets.yml
  velox/benchmarks/CMakeLists.txt
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/unstable/CMakeLists.txt
  velox/common/dynamic_registry/tests/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/dwio/common/tests/CMakeLists.txt
  velox/dwio/dwrf/test/CMakeLists.txt
  velox/dwio/parquet/tests/CMakeLists.txt
  velox/dwio/parquet/tests/reader/CMakeLists.txt
  velox/dwio/parquet/tests/writer/CMakeLists.txt
  velox/dwio/text/tests/CMakeLists.txt
  velox/dwio/text/tests/writer/CMakeLists.txt
  velox/expression/benchmarks/CMakeLists.txt
  velox/functions/prestosql/benchmarks/CMakeLists.txt
Due: cmake-format, license-header

wrap FetchContent in block()
  CMake/resolve_dependency_modules/absl.cmake
  CMake/resolve_dependency_modules/c-ares.cmake
  CMake/resolve_dependency_modules/cpr.cmake
  CMake/resolve_dependency_modules/duckdb.cmake
  CMake/resolve_dependency_modules/faiss.cmake
  CMake/resolve_dependency_modules/fastfloat.cmake
  CMake/resolve_dependency_modules/fmt.cmake
  CMake/resolve_dependency_modules/geos.cmake
  CMake/resolve_dependency_modules/gflags.cmake
  CMake/resolve_dependency_modules/glog.cmake
  CMake/resolve_dependency_modules/google_cloud_cpp_storage.cmake
  CMake/resolve_dependency_modules/grpc.cmake
  CMake/resolve_dependency_modules/gtest.cmake
  CMake/resolve_dependency_modules/icu.cmake
  CMake/resolve_dependency_modules/protobuf.cmake
  CMake/resolve_dependency_modules/pybind11.cmake
  CMake/resolve_dependency_modules/re2.cmake
  CMake/resolve_dependency_modules/simdjson.cmake
  CMake/resolve_dependency_modules/stemmer.cmake
  CMake/resolve_dependency_modules/template.cmake
  CMake/resolve_dependency_modules/xsimd.cmake
Due: cmake-format, license-header

add READEME
  scripts/ci/READEME.md
Due: license-header

add rules
  CMake/resolve_dependency_modules/fastfloat.cmake
  scripts/ci/cmake-rules-test/README.md
  scripts/ci/cmake-rules-test/__snapshots__/avoid-directory-wide-functions-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/cmake-minimum-version-error-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/deprecated-commands-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/no-hardcoded-absolute-paths-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/no-implicit-linking-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/prefer-find-package-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/use-find-package-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/variable-instead-of-targets-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/wrap-dependencies-with-block-snapshot.yml
  scripts/ci/cmake-rules-test/avoid-directory-wide-functions-test.yml
  scripts/ci/cmake-rules-test/cmake-minimum-version-error-test.yml
  scripts/ci/cmake-rules-test/deprecated-commands-test.yml
  scripts/ci/cmake-rules-test/no-hardcoded-absolute-paths-test.yml
  scripts/ci/cmake-rules-test/no-implicit-linking-test.yml
  scripts/ci/cmake-rules-test/use-find-package-test.yml
  scripts/ci/cmake-rules-test/variable-instead-of-targets-test.yml
  scripts/ci/cmake-rules-test/wrap-dependencies-with-block-test.yml
  scripts/ci/cmake-rules/avoid-directory-wide-functions.yml
  scripts/ci/cmake-rules/cmake-minimum-version-error.yml
  scripts/ci/cmake-rules/deprecated-commands.yml
  scripts/ci/cmake-rules/no-hardcoded-absolute-paths.yml
  scripts/ci/cmake-rules/no-implicit-linking.yml
  scripts/ci/cmake-rules/use-find-package.yml
  scripts/ci/cmake-rules/variable-instead-of-targets.yml
  scripts/ci/cmake-rules/wrap-dependencies-with-block.yml
  scripts/ci/sgconfig.yml
Due: cmake-format, license-header

fix tpchgen minimum CMake version
  velox/tpch/gen/dbgen/CMakeLists.txt
Due: cmake-format

fix lint
  velox/connectors/tpch/CMakeLists.txt
Due: cmake-format, license-header

fix(fuzzer): Skip xxhash64 from Presto SOT (#14206)
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
Due: license-header
