Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

cmake-format:
  name: cmake-format
  description: Format CMake files.
  entry: cmake-format
  language: python
  args:
  - --in-place
  require_serial: false
  additional_dependencies:
  - cmake-format==0.6.13
  - pyyaml

license-header:
  name: license-header
  description: Add missing license headers.
  entry: ./scripts/checks/license-header.py
  args:
  - -i
  language: python
  additional_dependencies:
  - regex
  require_serial: true

support merging sorted files in multi rounds
  velox/common/base/SpillConfig.cpp
  velox/common/base/SpillConfig.h
  velox/common/base/tests/SpillConfigTest.cpp
  velox/connectors/hive/tests/HiveDataSinkTest.cpp
  velox/core/QueryConfig.h
  velox/dwio/dwrf/test/E2EWriterTest.cpp
  velox/exec/Driver.cpp
  velox/exec/SortBuffer.cpp
  velox/exec/SortWindowBuild.cpp
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/SpillFile.cpp
  velox/exec/SpillFile.h
  velox/exec/TopNRowNumber.cpp
  velox/exec/tests/ConcatFilesSpillMergeStreamTest.cpp
  velox/exec/tests/MergerTest.cpp
  velox/exec/tests/SortBufferTest.cpp
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/SpillerTest.cpp
  velox/exec/tests/WindowTest.cpp
Due: license-header

feat: Implement geometry_union (#14297)
  velox/docs/functions/presto/geospatial.rst
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GeometryFunctions.h
  velox/functions/prestosql/registration/GeometryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/GeometryFunctionsTest.cpp
Due: license-header

fix: Spark get_json_object supoprts bigint number
  velox/functions/lib/JsonUtil.h
  velox/functions/prestosql/JsonFunctions.cpp
  velox/functions/sparksql/GetJsonObject.h
  velox/functions/sparksql/tests/GetJsonObjectTest.cpp
Due: license-header

fix comment
  velox/functions/sparksql/GetJsonObject.h
Due: license-header

velox(feat): Add Task/Operator/Driver Stats toString() utils (#14544)
  velox/exec/CMakeLists.txt
  velox/exec/DriverStats.cpp
  velox/exec/OperatorStats.cpp
  velox/exec/OperatorStats.h
  velox/exec/TaskStats.cpp
  velox/exec/TaskStats.h
Due: cmake-format, license-header

fix: Replace {} initialization in tests for GCC support (#14539)
  CMakeLists.txt
  velox/functions/sparksql/tests/ToJsonTest.cpp
Due: cmake-format, license-header

Fix unable to locate package error on ubuntu 22.04
  scripts/setup-ubuntu.sh
Due: license-header

Eliminate the warning of +=
  velox/functions/sparksql/benchmarks/FunctionBenchmark.cpp
Due: license-header

fix(build): Add missing find_package(Thrift) in FindArrow.cmake
  CMake/FindArrow.cmake
  CMake/resolve_dependency_modules/arrow/CMakeLists.txt
  velox/dwio/parquet/common/CMakeLists.txt
  velox/dwio/parquet/reader/CMakeLists.txt
  velox/dwio/parquet/tests/common/CMakeLists.txt
  velox/dwio/parquet/tests/thrift/CMakeLists.txt
  velox/dwio/parquet/thrift/CMakeLists.txt
  velox/exec/benchmarks/CMakeLists.txt
Due: cmake-format, license-header

feat: Add hash and operator== for core::IExpr (#14551)
  velox/parse/Expressions.cpp
  velox/parse/Expressions.h
  velox/parse/IExpr.h
  velox/parse/tests/ExprTest.cpp
Due: license-header

Update documentation
  docs/_sources/configs.rst.txt
  docs/bindings/python/plan_builder.html
  docs/searchindex.js
Due: license-header

fix(build): Cleanup arrow cmake-compatibility
  .github/workflows/linux-build-base.yml
  scripts/docker/fedora.dockerfile
Due: license-header

Add iceberg partition transforms.
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSink.h
  velox/connectors/hive/HivePartitionUtil.cpp
  velox/connectors/hive/PartitionIdGenerator.cpp
  velox/connectors/hive/PartitionIdGenerator.h
  velox/connectors/hive/SplitReader.cpp
  velox/connectors/hive/SplitReader.h
  velox/connectors/hive/iceberg/CMakeLists.txt
  velox/connectors/hive/iceberg/IcebergDataSink.cpp
  velox/connectors/hive/iceberg/IcebergDataSink.h
  velox/connectors/hive/iceberg/IcebergPartitionIdGenerator.cpp
  velox/connectors/hive/iceberg/IcebergPartitionIdGenerator.h
  velox/connectors/hive/iceberg/IcebergSplitReader.cpp
  velox/connectors/hive/iceberg/IcebergSplitReader.h
  velox/connectors/hive/iceberg/Murmur3.cpp
  velox/connectors/hive/iceberg/Murmur3.h
  velox/connectors/hive/iceberg/PartitionSpec.cpp
  velox/connectors/hive/iceberg/PartitionSpec.h
  velox/connectors/hive/iceberg/TransformFactory.cpp
  velox/connectors/hive/iceberg/TransformFactory.h
  velox/connectors/hive/iceberg/Transforms.cpp
  velox/connectors/hive/iceberg/Transforms.h
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/ColumnTransformTest.cpp
  velox/connectors/hive/iceberg/tests/IcebergInsertTest.cpp
  velox/connectors/hive/iceberg/tests/IcebergPartitionIdGeneratorTest.cpp
  velox/connectors/hive/iceberg/tests/IcebergTestBase.cpp
  velox/connectors/hive/iceberg/tests/IcebergTestBase.h
  velox/connectors/hive/iceberg/tests/IcebergTransformE2ETest.cpp
  velox/connectors/hive/iceberg/tests/IcebergTransformUnitTest.cpp
  velox/connectors/hive/iceberg/tests/Murmur3Test.cpp
  velox/connectors/hive/tests/HivePartitionUtilTest.cpp
  velox/type/Timestamp.cpp
  velox/type/Timestamp.h
  velox/type/tests/TimestampTest.cpp
Due: cmake-format, license-header

Collect Iceberg data file statistics during insertion.
  velox/dwio/common/CMakeLists.txt
  velox/dwio/common/DataFileStatistics.cpp
  velox/dwio/common/DataFileStatistics.h
  velox/dwio/common/DataFileStatsCollector.h
  velox/dwio/common/Options.h
  velox/dwio/common/Writer.h
  velox/dwio/parquet/common/CMakeLists.txt
  velox/dwio/parquet/common/UnicodeUtil.cpp
  velox/dwio/parquet/common/UnicodeUtil.h
  velox/dwio/parquet/tests/common/CMakeLists.txt
  velox/dwio/parquet/tests/common/UnicodeUtilTest.cpp
  velox/dwio/parquet/thrift/ParquetThriftTypes.cpp
  velox/dwio/parquet/thrift/ParquetThriftTypes.h
  velox/dwio/parquet/writer/Writer.cpp
  velox/dwio/parquet/writer/Writer.h
  velox/dwio/parquet/writer/arrow/ArrowSchema.cpp
  velox/dwio/parquet/writer/arrow/ArrowSchema.h
  velox/dwio/parquet/writer/arrow/Metadata.cpp
  velox/dwio/parquet/writer/arrow/Metadata.h
  velox/dwio/parquet/writer/arrow/Schema.h
  velox/dwio/parquet/writer/arrow/Statistics.cpp
  velox/dwio/parquet/writer/arrow/Statistics.h
  velox/dwio/parquet/writer/arrow/ThriftInternal.h
  velox/dwio/parquet/writer/arrow/tests/StatisticsTest.cpp
Due: cmake-format, license-header

Iceberg data file stats integration and test.
  velox/connectors/hive/HiveDataSink.h
  velox/connectors/hive/iceberg/CMakeLists.txt
  velox/connectors/hive/iceberg/DataFileStatsCollector.cpp
  velox/connectors/hive/iceberg/DataFileStatsCollector.h
  velox/connectors/hive/iceberg/IcebergColumnHandle.cpp
  velox/connectors/hive/iceberg/IcebergColumnHandle.h
  velox/connectors/hive/iceberg/IcebergDataSink.cpp
  velox/connectors/hive/iceberg/IcebergDataSink.h
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/IcebergStatsTest.cpp
  velox/connectors/hive/iceberg/tests/IcebergTestBase.cpp
Due: cmake-format, license-header

Implement iceberg sort order
  velox/connectors/hive/HiveDataSink.h
  velox/connectors/hive/iceberg/IcebergDataSink.cpp
  velox/connectors/hive/iceberg/IcebergDataSink.h
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/IcebergSortOrderTest.cpp
  velox/connectors/hive/iceberg/tests/IcebergTestBase.cpp
  velox/connectors/hive/iceberg/tests/IcebergTestBase.h
  velox/dwio/common/SortingWriter.cpp
Due: cmake-format, license-header

Add iceberg functions
  velox/docs/functions/iceberg/functions.rst
  velox/functions/iceberg/BucketFunction.cpp
  velox/functions/iceberg/BucketFunction.h
  velox/functions/iceberg/CMakeLists.txt
  velox/functions/iceberg/DateTimeFunctions.cpp
  velox/functions/iceberg/DateTimeFunctions.h
  velox/functions/iceberg/DateTimeUtil.h
  velox/functions/iceberg/Register.cpp
  velox/functions/iceberg/Register.h
  velox/functions/iceberg/Truncate.cpp
  velox/functions/iceberg/Truncate.h
  velox/functions/iceberg/tests/BucketFunctionTest.cpp
  velox/functions/iceberg/tests/CMakeLists.txt
  velox/functions/iceberg/tests/DateTimeFunctionsTest.cpp
  velox/functions/iceberg/tests/IcebergFunctionBaseTest.h
  velox/functions/iceberg/tests/TruncateTest.cpp
Due: cmake-format, license-header

Remove unused-but-set variables in velox/experimental/wave/exec/WavePlan.cpp +1
  velox/experimental/wave/exec/WavePlan.cpp
Due: license-header

Add Truncated Mean to QDigest, pr changes 1 (#14305)
  velox/functions/lib/QuantileDigest.h
  velox/functions/lib/tests/QuantileDigestTest.cpp
Due: license-header

Add fb_truncated_mean native function (#14452)
  velox/expression/fuzzer/ArgValuesGenerators.cpp
Due: license-header

feat(wave): Improve workload balance across thread blocks in Nimble reader (#14448)
  velox/experimental/wave/dwio/nimble/NimbleFormatData.cpp
Due: license-header

Add Truncated Mean to QDigest (#14305)
  velox/functions/lib/QuantileDigest.h
  velox/functions/lib/tests/QuantileDigestTest.cpp
Due: license-header

misc: Cleanup Presto Bias fuzzer
  .github/workflows/scheduled.yml
Due: license-header

build: Restrict building benchmark utilities to VELOX_BUILD_TEST_UTILS (#14548)
  velox/CMakeLists.txt
  velox/benchmarks/CMakeLists.txt
Due: cmake-format, license-header

misc: Small readability improvement for FileSystems function
  velox/common/file/FileSystems.cpp
Due: license-header

refactor: Use std fallthrough
  velox/dwio/parquet/reader/PageReader.cpp
  velox/functions/lib/TimeUtils.cpp
Due: license-header

fix(udf): Update TimeZoneNames.cpp (#14560)
  velox/type/tz/GenTimeZoneNames.java
  velox/type/tz/TimeZoneNames.cpp
Due: license-header

Back out "build: Update bundled Apache Arrow to 21.0.0 from 15.0.0" (#14563)
  CMake/FindArrow.cmake
  CMake/resolve_dependency_modules/arrow/CMakeLists.txt
  CMake/resolve_dependency_modules/arrow/cmake-compatibility.patch
  CMake/resolve_dependency_modules/arrow/thrift-download.patch
  NOTICE.txt
  scripts/docker/centos-multi.dockerfile
  scripts/docker/ubuntu-22.04-cpp.dockerfile
  scripts/setup-common.sh
  scripts/setup-versions.sh
  velox/dwio/parquet/common/BitPacking.h
  velox/dwio/parquet/common/BitStreamUtilsInternal.h
  velox/dwio/parquet/writer/arrow/Encoding.cpp
  velox/dwio/parquet/writer/arrow/Encoding.h
  velox/dwio/parquet/writer/arrow/Exception.h
  velox/dwio/parquet/writer/arrow/Writer.cpp
  velox/dwio/parquet/writer/arrow/tests/ColumnWriterTest.cpp
  velox/dwio/parquet/writer/arrow/tests/EncodingTest.cpp
  velox/dwio/parquet/writer/arrow/util/Spaced.h
  velox/external/hdfs/ArrowHdfsInternal.cpp
Due: cmake-format, license-header

feat: Support flat map vector fuzzing (#14541)
  velox/functions/prestosql/tests/MapFilterTest.cpp
  velox/vector/fuzzer/VectorFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.h
Due: license-header

fix: Add and maintain nulls during map filter for dictionary wrap (#14542)
  velox/functions/prestosql/FilterFunctions.cpp
Due: license-header

build: Use the official Snappy CMake package
  CMake/FindSnappy.cmake
Due: cmake-format

feat: Implement SpatialJoin nodes (#14338)
  velox/core/PlanNode.cpp
  velox/core/PlanNode.h
  velox/core/tests/PlanNodeBuilderTest.cpp
  velox/exec/fuzzer/DuckQueryRunnerToSqlPlanNodeVisitor.h
  velox/exec/fuzzer/PrestoQueryRunnerToSqlPlanNodeVisitor.h
  velox/exec/fuzzer/PrestoSql.cpp
  velox/exec/fuzzer/PrestoSql.h
  velox/functions/sparksql/fuzzer/SparkQueryRunnerToSqlPlanNodeVisitor.h
Due: license-header

Fix parse_presto_data_size ASCII issue
  velox/functions/prestosql/DataSizeFunctions.h
Due: license-header

fix floating number
  velox/functions/sparksql/GetJsonObject.h
  velox/functions/sparksql/tests/GetJsonObjectTest.cpp
Due: license-header

add batchBytes limit
  velox/exec/Spill.cpp
  velox/exec/Spill.h
Due: license-header

fix format
  velox/exec/Spill.cpp
Due: license-header

fix -0 result for integer number
  velox/functions/sparksql/GetJsonObject.h
  velox/functions/sparksql/tests/GetJsonObjectTest.cpp
Due: license-header

Add iceberg insertion benchmark
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/IcebergInsertBenchmark.cpp
  velox/connectors/hive/iceberg/tests/IcebergInsertBenchmark.h
  velox/connectors/hive/iceberg/tests/IcebergInsertBenchmarkMain.cpp
Due: cmake-format, license-header

Path conditions:
  cmake-format: any of: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$, but not: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
  license-header: any of: not ((?x)^(
CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
velox/docs/affiliations_map.txt|
velox/.*/bitpacking\.(cpp|h)|
velox/.*/Lemire/.*|
velox/.*/gpu/CudaMemMeter.cu|
velox/.*/coverage/data/.*|
velox/tpch/gen/dbgen/.*|
NOTICE.txt
)$
), but not: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
