Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

cmake-format:
  name: cmake-format
  description: Format CMake files.
  entry: cmake-format
  language: python
  args:
  - --in-place
  require_serial: false
  additional_dependencies:
  - cmake-format==0.6.13
  - pyyaml

license-header:
  name: license-header
  description: Add missing license headers.
  entry: ./scripts/checks/license-header.py
  args:
  - -i
  language: python
  additional_dependencies:
  - regex
  require_serial: true

Update documentation
  docs/_sources/functions/spark/math.rst.txt
  docs/bindings/python/plan_builder.html
  docs/functions/spark/math.html
  docs/searchindex.js
Due: license-header

address comments
  velox/functions/iceberg/BucketFunction.cpp
Due: license-header

fix code style
  velox/docs/functions/iceberg/functions.rst
Due: license-header

fix compile
  velox/functions/iceberg/BucketFunction.cpp
Due: license-header

fix code style
  velox/functions/lib/Hash.h
Due: license-header

support bucket function
  CMakeLists.txt
  velox/docs/functions/iceberg/functions.rst
  velox/functions/iceberg/BucketFunction.cpp
  velox/functions/iceberg/BucketFunction.h
  velox/functions/iceberg/CMakeLists.txt
  velox/functions/iceberg/Register.cpp
  velox/functions/iceberg/Register.h
  velox/functions/iceberg/tests/BucketFunctionTest.cpp
  velox/functions/iceberg/tests/CMakeLists.txt
  velox/functions/iceberg/tests/IcebergFunctionBaseTest.h
  velox/functions/iceberg/util/CMakeLists.txt
  velox/functions/iceberg/util/Murmur3Hash32.cpp
  velox/functions/iceberg/util/Murmur3Hash32.h
  velox/functions/iceberg/util/tests/CMakeLists.txt
  velox/functions/iceberg/util/tests/Murmur3Hash32Test.cpp
  velox/functions/lib/CMakeLists.txt
  velox/functions/lib/Hash.cpp
  velox/functions/lib/Hash.h
  velox/functions/lib/tests/Murmur3Hash32Test.cpp
  velox/functions/sparksql/Hash.cpp
Due: cmake-format, license-header

fix compile
  velox/functions/iceberg/BucketFunction.cpp
  velox/functions/iceberg/tests/BucketFunctionTest.cpp
  velox/functions/iceberg/tests/IcebergFunctionBaseTest.h
  velox/functions/iceberg/util/Murmur3Hash32.cpp
  velox/functions/iceberg/util/Murmur3Hash32.h
  velox/functions/iceberg/util/tests/Murmur3Hash32Test.cpp
  velox/functions/lib/Hash.h
  velox/functions/lib/tests/Murmur3Hash32Test.cpp
Due: license-header

address comments
  velox/functions/iceberg/BucketFunction.cpp
  velox/functions/iceberg/tests/BucketFunctionTest.cpp
  velox/functions/iceberg/util/Murmur3Hash32.cpp
  velox/functions/iceberg/util/Murmur3Hash32.h
  velox/functions/iceberg/util/tests/Murmur3Hash32Test.cpp
Due: license-header

fix
  velox/functions/iceberg/BucketFunction.cpp
  velox/functions/iceberg/util/Murmur3Hash32.cpp
  velox/functions/lib/tests/Murmur3Hash32Test.cpp
Due: license-header

truncate
  velox/functions/iceberg/Truncate.cpp
  velox/functions/iceberg/Truncate.h
  velox/functions/iceberg/tests/TruncateTest.cpp
Due: license-header

add truncate function
  velox/functions/iceberg/Truncate.cpp
  velox/functions/iceberg/Truncate.h
  velox/functions/iceberg/tests/TruncateTest.cpp
  velox/functions/iceberg/util/TruncateUtil.cpp
  velox/functions/iceberg/util/TruncateUtil.h
Due: license-header

add decimal test
  velox/functions/iceberg/tests/TruncateTest.cpp
Due: license-header

add common class
  velox/functions/iceberg/CMakeLists.txt
  velox/functions/iceberg/Register.cpp
  velox/functions/iceberg/Register.h
  velox/functions/iceberg/tests/CMakeLists.txt
  velox/functions/iceberg/tests/IcebergFunctionBaseTest.h
Due: cmake-format, license-header

fix: Fix build error with VELOX_ENABLE_AGGREGATES=OFF
  velox/functions/prestosql/registration/CMakeLists.txt
  velox/functions/prestosql/registration/RegistrationFunctions.cpp
  velox/functions/prestosql/types/fuzzer_utils/CMakeLists.txt
Due: cmake-format, license-header

compile success
  velox/functions/iceberg/CMakeLists.txt
  velox/functions/iceberg/Register.cpp
  velox/functions/iceberg/Register.h
  velox/functions/iceberg/Truncate.cpp
  velox/functions/iceberg/tests/CMakeLists.txt
  velox/functions/iceberg/tests/IcebergFunctionBaseTest.h
  velox/functions/iceberg/tests/TruncateTest.cpp
  velox/functions/iceberg/util/tests/CMakeLists.txt
  velox/functions/lib/CMakeLists.txt
Due: cmake-format, license-header

pass the truncate test
  velox/functions/iceberg/Truncate.cpp
  velox/functions/iceberg/tests/TruncateTest.cpp
Due: license-header

First working impl of cudf to AST
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/exec/ExpressionEvaluator.h
Due: license-header

some cleanups and support BigintValuesUsingBitmask
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
Due: license-header

Cleanup tests
  velox/experimental/cudf/tests/SubfieldFilterAstTest.cpp
Due: license-header

reuse makescalarandliteral
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
Due: license-header

extract bigint range into separate function, type dispatch only once. And add special handling for single value that's out of column type's range
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
  velox/experimental/cudf/tests/SubfieldFilterAstTest.cpp
Due: license-header

Fix integer overflow in date in q3
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
Due: license-header

add tests
  velox/experimental/cudf/tests/SubfieldFilterAstTest.cpp
Due: license-header

Fix float expr conversion
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
Due: license-header

bigintvalues using bitmask and fixes for bytes values
  velox/experimental/cudf/exec/ExpressionEvaluator.cpp
Due: license-header

add rules
  CMake/resolve_dependency_modules/fastfloat.cmake
  scripts/ci/cmake-rules-test/README.md
  scripts/ci/cmake-rules-test/__snapshots__/avoid-directory-wide-functions-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/cmake-minimum-version-error-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/deprecated-commands-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/no-hardcoded-absolute-paths-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/no-implicit-linking-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/prefer-find-package-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/use-find-package-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/variable-instead-of-targets-snapshot.yml
  scripts/ci/cmake-rules-test/__snapshots__/wrap-dependencies-with-block-snapshot.yml
  scripts/ci/cmake-rules-test/avoid-directory-wide-functions-test.yml
  scripts/ci/cmake-rules-test/cmake-minimum-version-error-test.yml
  scripts/ci/cmake-rules-test/deprecated-commands-test.yml
  scripts/ci/cmake-rules-test/no-hardcoded-absolute-paths-test.yml
  scripts/ci/cmake-rules-test/no-implicit-linking-test.yml
  scripts/ci/cmake-rules-test/use-find-package-test.yml
  scripts/ci/cmake-rules-test/variable-instead-of-targets-test.yml
  scripts/ci/cmake-rules-test/wrap-dependencies-with-block-test.yml
  scripts/ci/cmake-rules/avoid-directory-wide-functions.yml
  scripts/ci/cmake-rules/cmake-minimum-version-error.yml
  scripts/ci/cmake-rules/deprecated-commands.yml
  scripts/ci/cmake-rules/no-hardcoded-absolute-paths.yml
  scripts/ci/cmake-rules/no-implicit-linking.yml
  scripts/ci/cmake-rules/use-find-package.yml
  scripts/ci/cmake-rules/variable-instead-of-targets.yml
  scripts/ci/cmake-rules/wrap-dependencies-with-block.yml
  scripts/ci/sgconfig.yml
Due: cmake-format, license-header

add cmake linter hook
  .pre-commit-config.yaml
Due: license-header

wrap FetchContent in block()
  CMake/resolve_dependency_modules/absl.cmake
  CMake/resolve_dependency_modules/c-ares.cmake
  CMake/resolve_dependency_modules/cpr.cmake
  CMake/resolve_dependency_modules/duckdb.cmake
  CMake/resolve_dependency_modules/faiss.cmake
  CMake/resolve_dependency_modules/fastfloat.cmake
  CMake/resolve_dependency_modules/fmt.cmake
  CMake/resolve_dependency_modules/geos.cmake
  CMake/resolve_dependency_modules/gflags.cmake
  CMake/resolve_dependency_modules/glog.cmake
  CMake/resolve_dependency_modules/google_cloud_cpp_storage.cmake
  CMake/resolve_dependency_modules/grpc.cmake
  CMake/resolve_dependency_modules/gtest.cmake
  CMake/resolve_dependency_modules/icu.cmake
  CMake/resolve_dependency_modules/protobuf.cmake
  CMake/resolve_dependency_modules/pybind11.cmake
  CMake/resolve_dependency_modules/re2.cmake
  CMake/resolve_dependency_modules/simdjson.cmake
  CMake/resolve_dependency_modules/stemmer.cmake
  CMake/resolve_dependency_modules/template.cmake
  CMake/resolve_dependency_modules/xsimd.cmake
Due: cmake-format, license-header

add READEME
  scripts/ci/READEME.md
Due: license-header

fix tpchgen minimum CMake version
  velox/tpch/gen/dbgen/CMakeLists.txt
Due: cmake-format

fix variable instead of target issues
  CMake/resolve_dependency_modules/boost/CMakeLists.txt
  CMake/resolve_dependency_modules/icu.cmake
  scripts/ci/cmake-rules/variable-instead-of-targets.yml
  velox/benchmarks/CMakeLists.txt
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/unstable/CMakeLists.txt
  velox/common/dynamic_registry/tests/CMakeLists.txt
  velox/connectors/hive/iceberg/tests/CMakeLists.txt
  velox/dwio/common/tests/CMakeLists.txt
  velox/dwio/dwrf/test/CMakeLists.txt
  velox/dwio/parquet/tests/CMakeLists.txt
  velox/dwio/parquet/tests/reader/CMakeLists.txt
  velox/dwio/parquet/tests/writer/CMakeLists.txt
  velox/dwio/text/tests/CMakeLists.txt
  velox/dwio/text/tests/writer/CMakeLists.txt
  velox/expression/benchmarks/CMakeLists.txt
  velox/functions/prestosql/benchmarks/CMakeLists.txt
Due: cmake-format, license-header

fix lint
  velox/connectors/tpch/CMakeLists.txt
Due: cmake-format, license-header

adapt fuzzer workflow to use either pip or uv
  .github/workflows/linux-build-base.yml
  .github/workflows/scheduled.yml
Due: license-header

refactor java based images into multi stage build
  .github/workflows/docker.yml
  docker-bake.hcl
  docker-compose.yml
  scripts/ci/spark/start-spark.sh
  scripts/docker/java.dockerfile
  scripts/docker/prestojava-container.dockerfile
  scripts/docker/spark-container.dockerfile
Due: license-header

bump cmake version in dbgen/tpch
  velox/tpch/gen/dbgen/CMakeLists.txt
Due: cmake-format

disable build-metric generation for fork prs
  .github/workflows/build-metrics.yml
Due: license-header

refactor centos dockerfiles into multi-stage build
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/linux-build-base.yml
  docker-bake.hcl
  docker-compose.yml
  scripts/docker/adapters.dockerfile
  scripts/docker/centos-multi.dockerfile
  scripts/docker/centos.dockerfile
  scripts/docker/pyvelox.dockerfile
  scripts/setup-centos-adapters.sh
  scripts/setup-centos9.sh
  scripts/setup-common.sh
Due: license-header

remove SHELL from ubuntu dockerfile
  scripts/docker/ubuntu-22.04-cpp.dockerfile
Due: license-header

revert: use fork to push images
  .github/workflows/build-metrics.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/linux-build-base.yml
  .github/workflows/scheduled.yml
  docker-bake.hcl
  docker-compose.yml
  scripts/docker/java.dockerfile
Due: license-header

Add cmake changes needed to enable tests
  velox/experimental/cudf/tests/CMakeLists.txt
Due: cmake-format, license-header

Path conditions:
  cmake-format: any of: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$, but not: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
  license-header: any of: not ((?x)^(
CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
velox/docs/affiliations_map.txt|
velox/.*/bitpacking\.(cpp|h)|
velox/.*/Lemire/.*|
velox/.*/gpu/CudaMemMeter.cu|
velox/.*/coverage/data/.*|
velox/tpch/gen/dbgen/.*|
NOTICE.txt
)$
), but not: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
