Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

.pre-commit-config.yaml:

# Copyright (c) Facebook, Inc. and its affiliates.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# See https://pre-commit.com for more information

# General excludes, files can also be excluded on a hook level
exclude: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        description: Format CMake files.
        entry: cmake-format
        language: python
        files: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$
        args: [--in-place]
        require_serial: false
        additional_dependencies: [cmake-format==0.6.13, pyyaml]

      - id: clang-tidy
        name: clang-tidy
        description: Run clang-tidy on C/C++ files
        stages:
          - manual # Needs compile_commands.json
        entry: clang-tidy
        language: python
        types_or: [c++, c]
        additional_dependencies: [clang-tidy==18.1.8]
        require_serial: true

      - id: license-header
        name: license-header
        description: Add missing license headers.
        entry: ./scripts/checks/license-header.py
        args: [-i]
        language: python
        additional_dependencies: [regex]
        require_serial: true
        exclude: |
          (?x)^(
          CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
          velox/docs/affiliations_map.txt|
          velox/.*/bitpacking\.(cpp|h)|
          velox/.*/Lemire/.*|
          velox/.*/gpu/CudaMemMeter.cu|
          velox/.*/coverage/data/.*|
          velox/tpch/gen/dbgen/.*|
          NOTICE.txt
          )$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        # types_or: [c++, c, cuda, metal, objective-c]
        files: \.(cpp|cc|c|h|hpp|inc|cu|cuh|clcpp|mm|metal)$

  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # The following checks mostly target GitHub Actions workflows.
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        exclude: .*\.clang-(tidy|format)

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.7.0
    hooks:
      - id: zizmor

  - repo: https://github.com/mpalmer/action-validator
    rev: 2f8be1d2066eb3687496a156d00b4f1b3ea7b028
    hooks:
      - id: action-validator

feat(noisy_avg): Add support for optional random_seed (#13711)
  velox/docs/functions/presto/aggregate.rst
  velox/functions/lib/aggregates/noisy_aggregation/NoisyAvgAccumulator.h
  velox/functions/prestosql/aggregates/NoisyAvgGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/tests/NoisyAvgGaussianAggregationTest.cpp
Due: license-header

test(noisy_avg): Add unit test for noisy_avg_gaussian(col, noise_scale) (#13708)
  velox/functions/lib/aggregates/noisy_aggregation/NoisyAvgAccumulator.h
  velox/functions/prestosql/aggregates/NoisyAvgGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/tests/CMakeLists.txt
  velox/functions/prestosql/aggregates/tests/NoisyAvgGaussianAggregationTest.cpp
Due: cmake-format, license-header

test(noisy_sum): Add unit test to noisy_sum_gaussian(col, noise_scale, lower, upper, random_seed) (#13705)
  velox/functions/prestosql/aggregates/tests/NoisySumGaussianAggregationTest.cpp
Due: license-header

refactor(noisy_sum): Refactor duplicate blocks of code to composable functions (#13662)
  velox/functions/prestosql/aggregates/NoisySumGaussianAggregate.cpp
Due: license-header

test(noisy_avg): Add fuzzer test to cover all possible edge cases (#13712)
  velox/functions/prestosql/aggregates/tests/NoisyAvgGaussianAggregationTest.cpp
Due: license-header

feat(noisy_avg): Add support for optional lower and upper bounds (#13710)
  velox/docs/functions/presto/aggregate.rst
  velox/functions/lib/aggregates/noisy_aggregation/NoisyAvgAccumulator.h
  velox/functions/prestosql/aggregates/NoisyAvgGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/tests/NoisyAvgGaussianAggregationTest.cpp
Due: license-header

fix shellcheck issues
  scripts/setup-helper-functions.sh
Due: license-header

fix git argument handling
  scripts/setup-helper-functions.sh
Due: license-header

add shfmt
  .pre-commit-config.yaml
Due: license-header

add shfmt fixes
  scripts/ci/presto/start-prestojava.sh
  scripts/info.sh
  scripts/setup-centos9.sh
  scripts/setup-common.sh
  scripts/setup-helper-functions.sh
  scripts/setup-macos.sh
  scripts/setup-manylinux.sh
  scripts/setup-ubuntu.sh
  velox/dwio/dwrf/proto/fb_protobuf.sh
  velox/experimental/breeze/test/generate.sh
  velox/experimental/wave/jit/make_headers.sh
Due: license-header

format
  velox/common/base/SimdUtil.h
Due: license-header

fix: Fix documents
  velox/docs/functions/presto/math.rst
Due: license-header

feat(bit_map): Implement BitMap for SfmSketch (#13756)
  velox/functions/lib/aggregates/noisy_aggregation/sketch/BitMap.h
  velox/functions/lib/aggregates/noisy_aggregation/sketch/CMakeLists.txt
  velox/functions/lib/aggregates/noisy_aggregation/sketch/RandomizationStrategy.h
  velox/functions/lib/aggregates/noisy_aggregation/sketch/SecureRandomizationStrategy.h
  velox/functions/lib/aggregates/noisy_aggregation/sketch/tests/BitMapTest.cpp
  velox/functions/lib/aggregates/noisy_aggregation/sketch/tests/CMakeLists.txt
Due: cmake-format, license-header

feat(fuzzer): Add support for BINGTILE to expression fuzzer using presto query runner (#13522)
  velox/exec/fuzzer/PrestoQueryRunner.cpp
  velox/exec/fuzzer/PrestoQueryRunnerIntermediateTypeTransforms.cpp
  velox/expression/fuzzer/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/BingTileFunctions.h
  velox/functions/prestosql/tests/BingTileFunctionsTest.cpp
Due: license-header

add text reader
  velox/dwio/text/RegisterTextReader.cpp
  velox/dwio/text/RegisterTextReader.h
  velox/dwio/text/common/Common.h
  velox/dwio/text/reader/CMakeLists.txt
  velox/dwio/text/reader/TextReader.cpp
  velox/dwio/text/reader/TextReader.h
  velox/dwio/text/tests/CMakeLists.txt
  velox/dwio/text/tests/examples/complex.txt
  velox/dwio/text/tests/examples/simple.txt
  velox/dwio/text/tests/reader/CMakeLists.txt
  velox/dwio/text/tests/reader/TextReaderTest.cpp
  velox/dwio/text/writer/TextWriter.h
Due: cmake-format, license-header

fix: Fix the flaky unnest test timeout by reducing the data size
  velox/exec/tests/UnnestTest.cpp
Due: license-header

Review changes + gitignore
  .gitignore
  velox/benchmarks/tpch/TpchBenchmark.cpp
  velox/benchmarks/tpch/TpchBenchmark.h
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/experimental/cudf/CMakeLists.txt
  velox/experimental/cudf/benchmarks/CudfTpchBenchmark.cpp
Due: cmake-format, license-header

Templatize EqualityDeletes
  velox/connectors/hive/iceberg/tests/IcebergReadTest.cpp
Due: license-header

Test cases for float and decimal
  velox/connectors/hive/iceberg/tests/IcebergReadTest.cpp
Due: license-header

Resolve comments
  velox/connectors/hive/storage_adapters/gcs/GcsFileSystem.cpp
  velox/connectors/hive/storage_adapters/gcs/GcsUtil.cpp
  velox/connectors/hive/storage_adapters/gcs/GcsUtil.h
Due: license-header

Add support for varchar and varbinary
  velox/connectors/hive/iceberg/FilterUtil.cpp
  velox/connectors/hive/iceberg/tests/IcebergReadTest.cpp
Due: license-header

misc: Self register file reader and writers
  velox/benchmarks/QueryBenchmarkBase.cpp
  velox/benchmarks/QueryBenchmarkBase.h
  velox/connectors/hive/iceberg/tests/IcebergSplitReaderBenchmark.h
  velox/connectors/hive/storage_adapters/s3fs/tests/S3MultipleEndpointsTest.cpp
  velox/connectors/hive/storage_adapters/s3fs/tests/S3ReadTest.cpp
  velox/connectors/hive/storage_adapters/test_common/InsertTest.h
  velox/connectors/hive/tests/HiveDataSinkTest.cpp
  velox/dwio/CMakeLists.txt
  velox/dwio/common/WriterFactory.h
  velox/dwio/dwrf/reader/DwrfReader.cpp
  velox/dwio/dwrf/writer/Writer.cpp
  velox/dwio/parquet/RegisterParquetReader.cpp
  velox/dwio/parquet/RegisterParquetWriter.cpp
  velox/dwio/parquet/tests/ParquetTpchTest.cpp
  velox/dwio/parquet/tests/reader/ParquetReaderBenchmark.h
  velox/dwio/parquet/tests/reader/ParquetTableScanTest.cpp
  velox/examples/ScanAndSort.cpp
  velox/examples/ScanOrc.cpp
  velox/exec/fuzzer/AggregationFuzzerBase.h
  velox/exec/fuzzer/JoinFuzzer.cpp
  velox/exec/fuzzer/MemoryArbitrationFuzzer.cpp
  velox/exec/fuzzer/RowNumberFuzzerBase.cpp
  velox/exec/fuzzer/WriterFuzzerRunner.h
  velox/exec/tests/TableEvolutionFuzzerTest.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.cpp
  velox/functions/lib/aggregates/tests/utils/AggregationTestBase.cpp
  velox/python/init/PyInit.cpp
  velox/python/plan_builder/PyPlanBuilder.cpp
  velox/tool/trace/TraceReplayRunner.cpp
Due: cmake-format, license-header

Cmake cleanups
  velox/benchmarks/CMakeLists.txt
  velox/exec/tests/utils/CMakeLists.txt
  velox/experimental/cudf/benchmarks/CMakeLists.txt
Due: cmake-format, license-header

fix: Fix DecimalUtil::computeAverage rounding in overflow cases
  velox/docs/functions/presto/aggregate.rst
  velox/functions/prestosql/aggregates/tests/AverageAggregationTest.cpp
  velox/type/DecimalUtil.cpp
Due: license-header

support other join type
  velox/exec/NestedLoopJoinProbe.cpp
  velox/exec/NestedLoopJoinProbe.h
  velox/exec/tests/NestedLoopJoinTest.cpp
Due: license-header

feat: Optimize inner joins with single build batch
  velox/exec/NestedLoopJoinProbe.cpp
  velox/exec/NestedLoopJoinProbe.h
Due: license-header

fix comments
  velox/exec/NestedLoopJoinProbe.h
Due: license-header

address comments
  velox/exec/NestedLoopJoinProbe.cpp
  velox/exec/NestedLoopJoinProbe.h
  velox/exec/tests/NestedLoopJoinTest.cpp
Due: license-header

Add benchmarking script
  velox/experimental/cudf/benchmarks/benchmark.sh
Due: license-header

script tidy
  velox/experimental/cudf/benchmarks/benchmark.sh
Due: license-header

fix
  CMake/resolve_dependency_modules/arrow/CMakeLists.txt
Due: cmake-format, license-header

fix
  CMake/resolve_dependency_modules/arrow/CMakeLists.txt
  CMake/resolve_dependency_modules/arrow/cmake-compatibility.patch
Due: cmake-format, license-header

fix
  scripts/setup-helper-functions.sh
Due: license-header

fix
  CMake/resolve_dependency_modules/arrow/cmake-compatibility.patch
Due: none

fix nits to use only macos-13 and 15
  .github/workflows/macos.yml
Due: license-header

fix
  .github/workflows/macos.yml
Due: license-header

feat: Reduce HashTable load factor from 0.875 to 0.7 (#13694)
  velox/exec/HashTable.h
Due: license-header

fix: Add missing encoding in mapNameToSimple
  velox/vector/VectorEncoding.cpp
Due: license-header
