Repository facebookincubator/velox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, license-header

cmake-format:
  name: cmake-format
  description: Format CMake files.
  entry: cmake-format
  language: python
  args:
  - --in-place
  require_serial: false
  additional_dependencies:
  - cmake-format==0.6.13
  - pyyaml

license-header:
  name: license-header
  description: Add missing license headers.
  entry: ./scripts/checks/license-header.py
  args:
  - -i
  language: python
  additional_dependencies:
  - regex
  require_serial: true

Use PUBLIC
  CMake/VeloxUtils.cmake
Due: cmake-format, license-header

Use system Folly
  .github/workflows/linux-build-base.yml
Due: license-header

Don't require Boost.system
  CMake/resolve_dependency_modules/boost/CMakeLists.txt
  CMakeLists.txt
Due: cmake-format, license-header

Debug
  scripts/setup-common.sh
Due: license-header

Use CONFIG for Boost
  CMakeLists.txt
Due: cmake-format, license-header

Don't use FindBoost.cmake
  CMakeLists.txt
Due: cmake-format, license-header

Add binary.cpp
  CMake/third-party/FBThriftCppLibrary.cmake
Due: none

Debug
  .github/workflows/macos.yml
Due: license-header

Install dependencies
  .github/workflows/linux-build-base.yml
Due: license-header

Add workaround
  CMake/third-party/FBThriftCppLibrary.cmake
  scripts/setup-common.sh
Due: license-header

Use ccache if possible
  scripts/setup-helper-functions.sh
Due: license-header

Build FBThrift by ourselves
  .github/workflows/macos.yml
  scripts/setup-macos.sh
Due: license-header

Fix style
  CMake/VeloxUtils.cmake
  scripts/setup-common.sh
Due: cmake-format, license-header

Install Boost
  scripts/setup-macos.sh
Due: license-header

Use ccache for dependencies too
  .github/workflows/macos.yml
Due: license-header

Fix condition
  CMakeLists.txt
Due: cmake-format, license-header

Install fmt
  .github/workflows/linux-build-base.yml
Due: license-header

Patch FBThrift
  scripts/setup-common.sh
Due: license-header

Install mvfst
  scripts/setup-macos.sh
Due: license-header

Use git apply
  scripts/setup-common.sh
Due: license-header

Use newer FBThrift
  .github/workflows/linux-build-base.yml
  scripts/setup-macos.sh
  scripts/setup-versions.sh
  velox/dwio/parquet/thrift/parquet.thrift
Due: license-header

Don't use ccache for DuckDB
  scripts/setup-helper-functions.sh
Due: license-header

Revert needless changes
  .github/workflows/macos.yml
  CMake/VeloxUtils.cmake
  velox/dwio/parquet/common/CMakeLists.txt
  velox/dwio/parquet/reader/CMakeLists.txt
  velox/dwio/parquet/tests/common/CMakeLists.txt
  velox/dwio/parquet/thrift/CMakeLists.txt
Due: cmake-format, license-header

Define variables
  CMake/resolve_dependency_modules/boost/CMakeLists.txt
  CMakeLists.txt
Due: cmake-format, license-header

Don't use annotation
  velox/dwio/parquet/thrift/parquet.thrift
Due: license-header

Update velox/dwio/common/MetadataFilter.cpp
  velox/dwio/common/MetadataFilter.cpp
Due: license-header

Add test
  velox/dwio/common/MetadataFilter.cpp
  velox/dwio/common/tests/utils/E2EFilterTestBase.cpp
  velox/dwio/common/tests/utils/E2EFilterTestBase.h
Due: license-header

fix bug in new code
  velox/dwio/common/MetadataFilter.cpp
Due: license-header

feat: Make MetadataFilter multi node
  velox/dwio/common/MetadataFilter.cpp
  velox/dwio/common/MetadataFilter.h
Due: license-header

fix: Presto min/max/min_by/max_by cannot ignoreDuplicates when used with argument that return array
  velox/functions/prestosql/aggregates/MinMaxAggregates.cpp
  velox/functions/prestosql/aggregates/MinMaxByAggregateBase.h
Due: license-header

move code to avoid errors
  velox/exec/AggregateInfo.cpp
  velox/functions/sparksql/aggregates/MinMaxAggregate.cpp
Due: license-header

spark min_by/max_by can ignore duplicates
  velox/functions/sparksql/aggregates/MinMaxByAggregate.cpp
Due: license-header

feat: Add ignore duplicates
  velox/exec/Aggregate.h
  velox/exec/AggregateInfo.cpp
  velox/functions/lib/aggregates/BitwiseAggregateBase.h
  velox/functions/prestosql/aggregates/AverageAggregate.cpp
  velox/functions/prestosql/aggregates/BitwiseAggregates.cpp
  velox/functions/prestosql/aggregates/BoolAggregates.cpp
  velox/functions/prestosql/aggregates/ChecksumAggregate.cpp
  velox/functions/prestosql/aggregates/CountAggregate.cpp
  velox/functions/prestosql/aggregates/CountIfAggregate.cpp
  velox/functions/prestosql/aggregates/GeometricMeanAggregate.cpp
  velox/functions/prestosql/aggregates/HistogramAggregate.cpp
  velox/functions/prestosql/aggregates/MaxSizeForStatsAggregate.cpp
  velox/functions/prestosql/aggregates/MinMaxAggregates.cpp
  velox/functions/prestosql/aggregates/NoisyCountGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/NoisyCountIfGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/NoisySumGaussianAggregate.cpp
  velox/functions/prestosql/aggregates/ReduceAgg.cpp
  velox/functions/prestosql/aggregates/SetAggregates.cpp
  velox/functions/prestosql/aggregates/SumAggregate.cpp
  velox/functions/prestosql/aggregates/SumDataSizeForStatsAggregate.cpp
  velox/functions/prestosql/aggregates/TDigestAggregate.cpp
  velox/functions/sparksql/aggregates/BitwiseXorAggregate.cpp
  velox/functions/sparksql/aggregates/CollectSetAggregate.cpp
  velox/functions/sparksql/aggregates/MinMaxAggregate.cpp
  velox/functions/sparksql/aggregates/ModeAggregate.cpp
Due: license-header

fix incorrect merge conflict
  velox/functions/prestosql/aggregates/TDigestAggregate.cpp
Due: license-header

fix: clang-format
  velox/functions/prestosql/aggregates/MinMaxByAggregateBase.h
Due: license-header

fix: Review suggestions
  velox/functions/prestosql/aggregates/MinMaxByAggregateBase.h
  velox/functions/prestosql/aggregates/TDigestAggregate.cpp
Due: license-header

refactor: Put legacy code under ifdef
  .github/workflows/linux-build-base.yml
  CMakeLists.txt
  velox/common/base/SimdUtil.h
  velox/common/base/tests/SimdUtilTest.cpp
  velox/vector/BiasVector-inl.h
  velox/vector/BiasVector.h
  velox/vector/ConstantVector.h
  velox/vector/DictionaryVector-inl.h
  velox/vector/DictionaryVector.h
  velox/vector/FlatVector-inl.h
  velox/vector/FlatVector.h
  velox/vector/SequenceVector-inl.h
  velox/vector/SequenceVector.h
  velox/vector/tests/SimpleVectorTest.cpp
Due: cmake-format, license-header

fix: Apply review suggestions
  .github/workflows/linux-build-base.yml
  CMakeLists.txt
Due: cmake-format, license-header

Path conditions:
  cmake-format: any of: (CMakeLists.*|.*\.cmake|.*\.cmake.in)$, but not: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
  license-header: any of: not ((?x)^(
CMake/Find(Snappy|Sodium|Thrift|double-conversion)\.cmake|
velox/docs/affiliations_map.txt|
velox/.*/bitpacking\.(cpp|h)|
velox/.*/Lemire/.*|
velox/.*/gpu/CudaMemMeter.cu|
velox/.*/coverage/data/.*|
velox/tpch/gen/dbgen/.*|
NOTICE.txt
)$
), but not: .*\.patch|scripts/tests/.*|velox/external/.*|CMake/third-party/.*
